<router-outlet></router-outlet>




<!-- <div class="containter-fluid">
    <app-header></app-header>
    <div class="row m-0">
        <app-side-menu class="ps-1 col-2"></app-side-menu>
         <app-cart-parent class="col-10" ></app-cart-parent> -->
        <!-- <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div> --> 

<!-- Day2 task
<div class="containter-fluid">
    <app-header></app-header>
    <div class="row m-0">
        <app-side-menu class="ps-1 col-2"></app-side-menu>
        <app-products class="col-10"></app-products>
    </div>
    <app-footer></app-footer>
</div> -->