<!-- <button type="button" class="btn btn-primary" (click)="insertProduct()">Save</button> -->
<h3>Add a new product</h3>
<div class="bg-light align-content-between text-primary">
<form #prdFrm="ngForm" (ngSubmit)="insertProduct()">
    <div class="mb-3">
        <label for="prdName" class="form-label">Name</label>
        <input [class.is-invalid]="inpPrdName.invalid" [class.is-valid]="inpPrdName.valid" #inpPrdName="ngModel" type="text" class="form-control" id="prdName" name="name" [(ngModel)]="addedProduct.Name" required minlength="3">
        <div [hidden]="inpPrdName.valid || inpPrdName.untouched">
            <div class="alert alert-warning" *ngIf="inpPrdName.errors?.['required']">Product Name can't be empty</div>
            <div class="alert alert-warning" *ngIf="inpPrdName.errors?.['minlength']">Product Name must be 5 characters at least</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="prdPrice" class="form-label">Price</label>
        <input #inpPrdPrice="ngModel" type="number" class="form-control" id="prdPrice" name="price" [(ngModel)]="addedProduct.Price" min="1" max="9999" required>
        <div [hidden]="inpPrdPrice.valid || inpPrdPrice.untouched">
            <div class="alert alert-warning" *ngIf="inpPrdPrice.errors?.['required']">Price can't be empty</div>
            </div>
    </div>
    <div class="mb-3">
        <label for="prdQuant" class="form-label">Quantity</label>
        <input   #inpPrdQ="ngModel"  type="number" class="form-control" id="prdQuant" name="quantity" [(ngModel)]="addedProduct.Quantity" min="0" max="999" required>
        <div [hidden]="inpPrdQ.valid || inpPrdQ.untouched">
            <div class="alert alert-warning" *ngIf="inpPrdQ.errors?.['required']">Quantity can't be empty</div>
            </div>
    </div>
    <div class="mb-3">
        <label for="catList" class="form-label">Category</label>
        <select class="form-control" name="cat" id="catList" [(ngModel)]="addedProduct.CateogryID">
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.Name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="prdImg" class="form-label"> Product Image</label>
        <input type="file" class="form-control" id="prdImg" name="image" [(ngModel)]="addedProduct.img">
    </div>

    <button [disabled]="!prdFrm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<hr>
<!-- <div>
    <h3>[To be removed] For test:</h3>
    <div>{{addedProduct | json}}</div>
    <div>
        <!-- {{inpPrdName.className}} -->
    <!-- </div>
</div> --> 