<div class="p-3 mb-2 bg-dark text-white text-center text-capitalize ">
    <p class="display-1 strong h1 text-primary">About Us</p>
    <p class="lead text-secondary">We are your destination for everything Apple, we are passionate about the services we offer and the brand we have embodied locally.
        Over the years we have grown both in size and experience. Today with 21 stores, we not only offer our customers a variety of services, but we provide them an outstanding customer experience delivered by our local Apple Experts.</p>
</div>